<div class="container">
    <div class="row">
        <div class="col-md-12 text-center welcome">
            <h1 id="welcome_title">Welcome to News Scraper</h1>
        </div>
    </div>


    <div class="row" id="newsStories">
        <div class="col-md-8">
            {{#each newsStuff}}

                <h5>{{title}}</h5>
                <a href= {{link}}> {{link}} </a>
                {{!--<br>
                {{pic}}--}}
                
                <button type="submit" id="addNote" data-id="{{_id}}" title-id="{{title}}" class="btn btn-info saveOrDelete"> Add a Note </button>
                <button type="submit" id="deleteFromSaved" data-id="{{_id}}" title-id="{{title}}" class="btn btn-danger saveOrDelete"> Delete from Saved </button>
                <button type="submit" id="saveNote" data-id="{{_id}}" title-id="{{title}}" class="btn btn-success savetheNote"> Save this Note </button>
                <h6>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h6>

            {{/each}}
        </div>
        <div class="col-md-4">
            <form id="noteForm">
            <div class="form-group" id="noteSection">
                <label for="exampleTextarea">What do you think about...</label>
                <h5>
                    <span id="title"></span>
                </h5>
                <textarea class="form-control" id="noteTextArea" rows="5"></textarea>
                <br>
                
            </div>
            </form>
        </div>
    </div>
</div>